* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-image: url("./images/backgroung-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.custom-navbar {
  background: transparent;
}

.logo-image {
  display: block;
}
