@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  background-image: url('./images/backgroung-image.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: #fefefe;
}

.section-container {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  margin-top: 3rem;
}
.text-bold {
  font-weight: 700;
}

h1 {
  margin-top: 2rem;
  margin-left: 4.5rem;
  font-size: 1.75rem;
  font-weight: 700;
}

.console-name {
  display: inline-block;
  background: #0d6efd;
  color: #fefefe;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 25px;
}

.contrast-color {
  color: #ac2886;
}

/* _________________________________________NAVBAR __________________________________________________________ */

.login-btn {
  display: inline-block;
  border: 1px #0d6efd solid;
  border-radius: 5px;
  padding: 6px 12px;
}

.custom-navbar {
  background: transparent;
  margin-left: 3rem;
  margin-right: 3rem;
}

.navbar-container {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.logo-image {
  width: 190px;
}

.nav-link-custom {
  display: block;
  background: #0d6efd;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  color: #fefefe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 3px;
}

.nav-link-my-games {
  background: #ac2886;
}

.nav-link-custom:hover {
  color: #fefefe;
}

.nav-link.dropdown-toggle.filter-custom {
  display: block;
  background: transparent;
  color: #0d6efd;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 3px;
}

.filter-custom-danger:hover {
  color: rgb(203, 58, 58);
}

.navbar-collapse {
  border-bottom: 2px #eeecf4 solid;
}

.dropdown-menu {
  background: #0d6efd;
  border-radius: 0;
}

.dropdown-menu-custom {
  background: #fefefe;
  border: 1px solid #0d6efd;
}

.dropdown-menu-custom .dropdown-item {
  color: #0d6efd;
}

.dropdown-item,
.dropdown-item:active {
  color: #fefefe;
}

.dropdown-item:hover {
  color: #0d6efd;
  background: #fefefe;
  font-weight: 700;
}

.nav-link.dropdown-toggle {
  color: #fefefe;
}

/* _____________________________SINGLE CARD CONTAINER && INDEX SECTION_______________________________ */

.section-all-games {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px #eeecf4 solid;
  border-radius: 5px;
}

.game_image {
  height: 70%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.game_name {
  margin-top: 1rem;
  padding-left: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.game_price {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.see-details-button {
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 100px;
}

.see-details-button:hover {
  background-color: #fefefe;
  color: #0d6efd;
  border: 2px solid #0d6efd;
}

/* __________________________________________PRODUCT DETAILS ________________________________ */
.detailed-card-container {
  display: flex;
  gap: 1rem;
  border: 1px #eeecf4 solid;
  border-radius: 5px;
  padding-right: 1.5rem;
}

h2 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: #0d6efd;
  font-weight: 700;
}

.console-container {
  display: flex;
  gap: 1rem;
}

.console-span {
  display: inline-block;
  text-align: center;
  background: #0d6efd;
  color: #fefefe;
  font-weight: 700;
  font-size: 0.55rem;
  border-radius: 20px;
  width: 55px;
  padding: 0.15rem;
  margin-bottom: 2rem;
}

.image-in-detailed-card {
  width: 250px;
  height: inherit;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.release-date {
  font-size: 0.75rem;
  color: #8e8e91;
  margin-bottom: 1.25rem;
}
.release-date-span {
  font-size: 1rem;
  color: #0d6efd;
}

.age-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.age-image {
  width: 30px;
}

.big-review-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.small-review-container {
  display: flex;
  gap: 0.25rem;
}

.text-blue {
  color: #0d6efd;
}

.delete-button {
  margin-bottom: 1rem;
  background: #ac2886;
}

.delete-button:hover {
  background: #380329;
}

/* __________________________________________ADD GAME FORM ________________________________ */

label {
  text-transform: uppercase;
  color: #ac2886;
  font-weight: 700;
  font-size: 0.75rem;
}

.input-title,
textarea,
.div-age-note,
.input-image {
  margin-bottom: 1rem;
}

.div-price-date {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.div-price-date input {
  width: 100px;
}

.div-age-note {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.error-form-add {
  color: #ac2886;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.input,
textarea {
  border: 1px solid #0d6efd;
  border-radius: 5px;
}

select {
  border: 1px solid #0d6efd;
  border-radius: 5px;
}

input:valid,
input:invalid {
  box-shadow: none;
  outline: none;
}

textarea:valid,
textarea:invalid {
  box-shadow: none;
  outline: none;
}

.custom-file-upload {
  border: none;
}

legend {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  color: #ac2886;
  font-weight: 700;
  font-size: 0.75rem;
}

::placeholder {
  font-size: 0.75rem;
}

/* _________________________________________REGISTER & LOGIN FORM ______________________________________________ */
#form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.label-in-register-form {
  margin-bottom: 0.5rem;
}

.input-in-register-form {
  margin-bottom: 1rem;
}

#form button {
  margin-bottom: 1.5rem;
}

#form .error {
  color: #ac2886;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.input-in-register-form {
  border: 1px solid #0d6efd;
  border-radius: 5px;
}

.input-in-register-form:valid,
.input-in-register-form:invalid {
  box-shadow: none;
  outline: none;
}

/* _______________________________________________________MY GAMES______________________________________________________ */
.my-games-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}

/* _______________________________________________________PAGINATION_______________________________________________________ */
.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
